In [ ]:
#Importação das bibliotecas necessárias

In [ ]:
import numpy as np
import pandas as pd
import gc
import glob

import hashlib

import os
import calendar

In [ ]:
# Necessário para leitura do google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/SERVIDORES_CE/2023/'    # use your path
arr = os.listdir(path)
print(arr)

['servidores_202301.csv', 'servidores_202302.csv', 'servidores_202303.csv', 'servidores_202304.csv', 'servidores_202305.csv', 'servidores_202306.csv', 'servidores_202307.csv', 'servidores_202308.csv', 'servidores_202309.csv', 'servidores_202310.csv', 'servidores_202311.csv', 'servidores_202312.csv']

In [ ]:
all_files = glob.glob(os.path.join(path, "*.csv"))                             # advisable to use os.path.join as this makes concatenation OS independent
print(all_files)

['/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202301.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202302.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202303.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202304.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202305.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202306.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202307.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202308.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202309.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202310.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202311.csv', '/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202312.csv']

In [ ]:
#df_from_each_file = (pd.read_csv(f, low_memory=False, sep=',') for f in all_files)
#df_2023  = pd.concat(df_from_each_file, ignore_index=True, axis=0)

In [ ]:
colnames_jan=['serv', 'orgao', 	'cargo_jan', 'sit_jan',	'tot_desc_jan', 'abt_teto_jan', 'outros_desc_jan', 'sal_bruto_jan', 'sal_liquido_jan', 'diar_jan' ]

In [ ]:
colnames_fev=['serv', 'orgao', 	'cargo_fev', 'sit_fev',	'tot_desc_fev', 'abt_teto_fev', 'outros_desc_fev', 'sal_bruto_fev', 'sal_liquido_fev', 'diar_fev' ]

In [ ]:
df_jan = pd.read_csv('/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202301.csv', low_memory=False, sep=',' , names = colnames_jan, header= None )

In [ ]:
df_fev = pd.read_csv('/content/drive/My Drive/SERVIDORES_CE/2023/servidores_202302.csv', low_memory=False, sep=',' , names = colnames_fev, header= None )

In [ ]:
# Função para calcular o hash MD5
def calcular_md5(valor):
    return hashlib.md5(valor.encode()).hexdigest()

In [ ]:
df_jan['id_md5'] = df_jan['serv'].apply(calcular_md5)

In [ ]:
df_fev['id_md5'] = df_fev['serv'].apply(calcular_md5)

In [ ]:
#df_jan.head(2)

In [ ]:
duplicados = df_jan['id_md5'][df_jan['id_md5'].duplicated(keep='first')]
print(duplicados.unique())  # Lista os valores duplicados

['239d46d924dffd40d36cc843a05f43c3' '6b34393344ab741e70e3ee98b07ba5d4'
 '278d12aece73ecaf5c16e3b1b700700d' ... 'b5d2483562f8b698f1707c5a64231276'
 '4723bde1e89e336be7b5f6c12f282011' '9c6a7123df2fabd849bbb133d10999e5']

In [ ]:
duplicados_nomes = df_jan['serv'][df_jan['serv'].duplicated(keep='first')]
print(duplicados_nomes.unique())  # Lista os valores duplic

['FRANCISCO GOMES DA SILVA' 'MARIA DAS GRACAS PINHEIRO'
 'FRANCISCO JOSE DA SILVA' ... 'JOSE CUNHA DE OLIVEIRA'
 'FRANCISCO WALMIR DA SILVA' 'COSME RODRIGUES BRAGA']

In [ ]:
print(df_jan['serv'].value_counts().sort_values(ascending=False))

serv
MARIA DE FATIMA DA SILVA              26
MARIA JOSE DA SILVA                   22
MARIA DO SOCORRO DA SILVA             20
RAIMUNDO NONATO DA SILVA              20
MARIA DE LOURDES DA SILVA             20
                                      ..
PEDRO HENRIQUE CARVALHO DE ALMEIDA     1
LUIZ GUSTAVO SOLA TORRES               1
JULIA EMILLY DE SA MENEZES LUCENA      1
DEBORA RIBEIRO HOLANDA                 1
YRWANA ALBUQUERQUE GUERRA              1
Name: count, Length: 147678, dtype: int64

In [ ]:
 # Ver distribuição de atributos
#df_jan['cargo_jan'].unique().tolist()

In [ ]:
df_jav_fev = pd.concat([df_jan.set_index('A'),df2.set_index('A')], axis=1, join='inner')

In [ ]:
display(pd.concat([df_jan, df_fev],  ignore_index = True))

In [ ]:
df_jan.loc[df_jan['situacao'] == 'Pensionista']

In [ ]:
df_jan.loc[df_jan['cargo-funcao'] == 'COORDENADOR ESCOLAR']

In [ ]:
#df_maiores_gov = np.where ( df_jan['salario_bruto'] > 21.000)
#df_jan[ df_jan['salario_bruto'] > 21.000  ]

#df_maior = np.where( ( df_jan['salario_bruto'] > 21.000) )

df_jan[(df_jan['salario_bruto'] > 21000.00)]

In [ ]:
df_jan[(df_jan['salario_liquido'] > 30000.00)]